@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

* {
margin: 0;
padding: 0;
border: none;
box-sizing: border-box;
margin: 0;
overflow-x: hidden;
/*position: relative;*/

}
body {
    font-family: 'East Sea Dokdo', sans-serif;
    text-align: center;
    
}

/* navigation bar style*/

.navigationbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* navigation bar items style*/
.navigationitems {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/* style heading */
 h1 {
    font-size: 6em;
    margin: 0;
}

/* style buttons in navigation*/
.navbutton {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 4px;
    color: white;
    background: black;
    font-size: 30px;
    padding: 12px 15px;
    text-align: center;
    font-family: 'East Sea Dokdo', sans-serif;
}
.navbutton:hover {
    background-color: white;
    color: black;
}


/* Animation on Logo image*/

#logo {
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

#logo:hover {
    animation: tilt-shake 0.5s ease-in-out 6 alternate forwards, rotate360 0.7s ease-in-out 2s forwards;
}


@keyframes tilt-shake {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(6px, 6px) rotate(5deg);
    }

    50% {
        transform: translate(0, 0) rotate(0eg);
    }

    75% {
        transform: translate(-6px, 6px) rotate(-5deg);
    }
}

@keyframes rotate360 {
    100% {
        transform: translate(0, 0) rotate(360deg);
    }
}

/* How To Play heading and paragraph style */

#heading2 {
    font-size: 4em;
    font-weight: bold;
    margin-block-start: 0.2%;
    margin-block-end: 1%;
}

#playinfo {
    font-size: 2.5em;
    text-align: center;
    margin-block-start: 0.5em;
    margin-block-end: 0.3em;
    margin: auto;
    max-width: 75%;
}

/* style score board area */
.scoreboard-area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3em
}

.scoreheading {
    font-size: 4em;
    text-decoration-line: underline;
    text-align: center;
    margin-block-start: 0.6em;
    margin-block-end: 0.1em;
}

.score {
    font-size: 3em;
    text-align: center;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

/* style gameboard area */

.gameboard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0, 1.5em;
    border: none;
    overflow-x: hidden;
}

.gameboardimage .startimage {
    display: block;
    padding: 1.5em;
    cursor: pointer;
    align-items: center;
    max-width: 100%;
    height: auto;
}

.startimage {
    max-width: 100%;
    padding: 1.5em;
    align-content: center;
    overflow: hidden;
    object-fit: cover;
    transition: 120ms;
}

.startimage:hover {
    transform: scale(0.9);
}

/* style Game Results Area*/

.winnerarea {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.2em
}

#result {
    font-size: 4em;
    text-align: center;
    margin-block-start: 0.2em;
    margin-block-end: 0.01em;
}

.choice {
    font-size: 4em;
    text-align: center;
    margin-block-start: 0.001em;
    margin-block-end: 0%;
}

#compPick {
    font-size: 2em;
    text-align: center;
    margin-block-start: 0%;
    margin-block-end: 0.01;
}



/* Media query for smaller screens */
@media (max-width: 768px) {


    /* Adjust font sizes for smaller screens */
    #heading {
        font-size: 4em;
    }

    #heading2 {
        font-size: 3em;
    }

    #playinfo {
        font-size: 2em;
    }

    .scoreheading {
        font-size: 3em;
    }

    .score {
        font-size: 2em;
    }


    .gameboard {

        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .gameboardimage .startimage {
        padding: 1em;
        max-width: 70%;
        max-height: auto;
        align-items: center;
        justify-content: center;


    }

    .startimage {
        padding: 1em;
    }

    #result {
        font-size: 3em;
    }

    .choice {
        font-size: 3em;
    }

    #compPick {
        font-size: 1.5em;
    }
}

/* Media query for small phones (max-width: 320px) */
@media (max-width: 425px) {

    /* Adjust Flex containers for small phones*/
    .navigationbar {
        flex-direction: column;
    }

    /* Adjust font sizes and margins for small phones */
    #heading {
        font-size: 3em;

    }

    #heading2 {
        font-size: 2em;

    }

    #playinfo {
        font-size: 1.5em;

    }

    .scoreheading {
        font-size: 2.5em;

    }

    .score {
        font-size: 1.5em;

    }

    .gameboard {

        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .gameboardimage .startimage {
        padding: 0.3em;
        max-width: 30%;
        max-height: auto;
        align-items: center;
        justify-content: center;
        ;

    }

    .startimage {
        padding: 0.3em;
    }

    #result {
        font-size: 2.5em;

    }

    .choice {
        font-size: 2.5em;

    }

    #compPick {
        font-size: 1.2em;

    }
}